| ".*\\.sh"              -> skip match:"#!.*"
| ".*\\.sh"              -> frame open:"#" line:"#" close:"#"
| "_headache\\.config"   -> frame open:"#" line:"#" close:"#"
| ".*\\.swp"             -> no
| "\\.gitignore"         -> no
| ".*\\.txt"             -> no
| ".*\.tar\\.gz"         -> no
| ".*\.tar\\.gz\\.asc"   -> no
| ".*\\.bak"             -> no
| "_header"              -> no
| ".*\\.mkd\\.tmpl"      -> no
| ".*\\.mkd"             -> no
